section {
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
  background-color: yellow;
  font-size: 50px;
  padding: 30px;
  border-radius: 20px;
}

h1:hover {
  color: yellow;
  background-color: black;
}

h2 {
  color: black;
  background-color: yellow;
  font-size: 20px;
  padding: 30px;
  border-radius: 20px;
}

h2:hover {
  color: yellow;
  background-color: black;
}

h3 {
  color: black;
  background-color: yellow;
  font-size: 20px;
  padding: 30px;
  border-radius: 20px;
}

h3:hover {
  color: yellow;
  background-color: black;
}

p {
  color: black;
  background-color: yellow;
  font-size: 20px;
  padding: 30px;
  border-radius: 20px;
}

p:hover {
  color: yellow;
  background-color: black;
}
